# Игнорировать каталоги дистрибутива
dist/
build/

# Игнорировать папку для Python байт-кодов
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать папку виртуальной среды
venv/
.venv/

# Игнорировать другие ненужные файлы
.DS_Store
.idea/
*.egg-info/